<div class="mt-2">
        <app-loading *ngIf="!loadingClima" ></app-loading>
</div>

<div class="row climaActual" *ngIf="loadingClima">
        <div class="col-md-12 text-right titulos">
                <h3>{{fechaString}}</h3>
        </div>

        <div class="col-md-6 text-center">            
            <img height="250" width="250" [src]="pathIconoActual">
        </div>

        <div class="col-md-6">            
            <h1>Temp {{datosActualues.temperatura}}°</h1>
            <h3>{{datosActualues.descripcionClima}} </h3>
            <h1>ST {{datosActualues.sensacionTermica}}°</h1>
            <h3>Humedad {{datosActualues.humedad}}%</h3>  
            <div class="text-center">
                <button (click)="RefrescarDatos()" type="button" class="btn btn-primary">Refrescar
                    <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                            <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41zm-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9z"/>
                            <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5.002 5.002 0 0 0 8 3zM3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9H3.1z"/>
                    </svg>
                </button>                                         
            </div>            
        </div>

</div>
<div class="row card-deck mt-3" *ngIf="loadingClima"> 
        <div *ngFor="let datosDias of datosSemanales" class="card bg-dark">
                <h3 class="card-text text-center">{{datosDias.diaDeLaSemana}}</h3>
                <h5 class="card-text text-center">{{datosDias.fecha}}</h5>
                <div class="divImagenClima text-center">
                      <img  class="card-Image" [src]="datosDias.icono" >
                </div>                
                <div class="card-body">
                        <h3 class="card-title text-center">{{datosDias.temperaturaMaxima}}°/{{datosDias.temperaturaMinima}}°</h3>
                        <h5 class="card-text text-center">{{datosDias.descripcionClima}}</h5>
                        <h6 class="card-text text-center">prop.Lluvia: {{datosDias.probabilidadLluviaMaxima}}%</h6>        
                </div>
        </div>
</div>
